@media screen and (max-width: 1400px) {
    .page {
        margin: 0 2rem;
    }

    .header {
        padding-left: 2rem;
        padding-right: 2rem;
        width: auto;
    }

    .popular .owl-theme .owl-controls .owl-buttons div:first-child,
    .popular .owl-theme .owl-controls .owl-buttons div:last-child {
        margin: 0 1rem !important;
    }
}

@media screen and (max-width: 1024px) {
    .features__container {
        flex-direction: column;
        height: auto;
        padding: 0 1rem;
    }

    .features__tabs {
        margin-top: 1rem;
        width: 100%;
        margin-right: 0;
    }

    .features__tab {
        margin-bottom: 1rem;
    }

    .features__content-item {
        height: auto;
    }

    .features__content-item img {
        width: 100%;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .hero__img_main {
        width: 400px;
    }

    .hero__img__circle img {
        zoom: 0.7;
    }
}

@media screen and (min-width: 932px) and (max-width: 1024px) {
    .hero__img_main {
        width: 300px;
    }

    .hero__img__circle img {
        zoom: 0.5;
    }

    .text-3xl {
        font-size: 38px;
    }

    .text-2xl {
        font-size: 26px;
    }
}

@media screen and (max-width: 932px) {
    .text-3xl {
        font-size: 38px;
    }

    .text-2xl {
        font-size: 26px;
    }

    .hero {
        flex-direction: column;
    }

    .hero__img {
        margin-top: 4rem;
    }

    .hero__inner {
        max-width: unset;
    }

    .social-cards {
        grid-template-columns: 1fr 1fr;
    }

    .solutions__content {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }

    .solutions__content_title {
        margin: auto;
    }

    .solutions__tabs {
        flex-direction: column;
    }

    .solutions__tab {
        margin-left: auto;
        margin-right: auto !important;
        margin-bottom: 1rem;
        max-width: unset !important;
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 640px) {
    .text-3xl {
        font-size: 26px !important;
    }

    .text-2xl {
        font-size: 16px !important;
    }

    .header__menu,
    .header__button {
        display: none;
    }

    .hero__img {
        padding-right: 2rem !important;
    }

    .hero__img_main {
        width: 300px !important;
    }

    .hero__img__circle img {
        zoom: 0.5 !important;
    }

    .social-cards {
        grid-template-columns: 1fr !important;
    }

    .popular__title {
        margin-right: 1rem !important;
    }

    .footer__menu {
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .solutions__content_image img {
        width: 100% !important;
    }

    .footer__sub {
        padding: 0 1rem !important;
    }

    .header__logo img {
        width: 50px !important;
    }

    .header__responsive-menu {
        display: block !important;
    }
}